In [ ]:
#Dashboard # 1 - Grafico de barras
#from dash import Dash, html, dcc, Input, Output  
#import plotly.express as px
#import pandas as pd
#import dash_auth

import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.graph_objects as go
import plotly.express as px
import pandas as pd
import dash_auth


Users = {
    "Keylla": "Test1",
    "Manager": "Test2"
}

app = Dash(__name__)                     
auth = dash_auth.BasicAuth(app, Users)


df = pd.read_excel("Property_Crimes.xlsx")
#df = df.groupby(["Year", "Category"]).sum().reset_index(level=[0,1])


#Plotly
#fig = px.bar(df, x="Year", y="Qty", color="Category", barmode="group") 
fig = px.bar(df, x="Year", y="Qty", barmode="group", color = "Category") 


#Options of week_days (Monday, Sunday etc...)
list_week_day = list(df["Week_Day"].unique())    #Week_Day (nome da coluna)
list_week_day.append("All")                   


#css - Layout
app.layout = html.Div(children=[
    html.H1(children="Qty Property Crimes in X Country"),      
                                                                
    html.Div(children='''                                      
        Dashboard (Phyton)- units
    '''),
    
    html.H3(children="Type of crimes X Year", id="subtitle"), 

    
    dcc.RadioItems(list_week_day, value = "All", id='Week_Day_Selection'),    #id = given name
    dcc.Graph(id="Property Crimes", figure=fig),    #([opcao 1, opcao 2, opcao3)
], style={"text-align": "center"})


#Callbacks - to give functionality

@app.callback(                                      #decorator do Flask = linha codigo q faz a func "Def" funcionar
    Output('subtitle', 'children'),                 #muda grafico acordo c selecao-sao 2 info(id=subtitle + text(children) "type of crimes")
                                                    #quem eu quero modificar (q o botao do input mude)
    
    Output('Property Crimes', 'figure'),           #este eh p movimentar o grafico. O grafico q quero editar eh: "Property Crimes"
                                                   #e como parametro o grafico "figure"
   
    Input('Week_Day_Selection', 'value'),          #de onde vem a info (coluna Week_day) - sao 2 info (id = given name e o value)
)
    
def select_day(day):
    if day == 'All':
            text = 'Property Crimes per week'
            fig = px.bar(df, x="Year", y="Qty", color="Category", barmode="group") 
    else:
        
            #dia = Friday or Saturday or Sunday or Monday or Tuesday or Wednesday or Thursday
            #filtrar as linhas da tabela onde "Day_of_Week" eh = variavel day  df.loc[linhas, colunas]
            
            df_filtered = df.loc[df["Week_Day"]==day, :]          #quero filtrar a col Week_Day pelos dias da semana 
            text = f"Property Crimes in X Country on {day}"
            fig = px.bar(df_filtered, x="Year", y="Qty", color="Category", barmode="group") 
    return text, fig
    
   

if __name__ == '__main__':
    app.run_server(debug=False)

In [24]:

#from dash import Dash, html, dcc, Input, Output  
#import plotly.express as px
#import pandas as pd
#import dash_auth

from dash import Dash
import dash
import dash_core_components as dcc
import dash_html_components as html
from dash.dependencies import Input, Output
import plotly.graph_objects as go
import plotly.express as px
import pandas as pd
import dash_auth


Users = {
    "Keylla": "Test1",
    "Manager": "Test2"
}

app = Dash(__name__)                     
auth = dash_auth.BasicAuth(app, Users)


df = pd.read_excel("Property_Crimes.xlsx")


display(df.head(5))

,X,Y,OBJECTID,Qty,Category,Label,Week_Day,Case_File_Number,Year,report_date
0,523356.0434,5436229.669,1,13,Theft from Vehicle,TfMV,Wednesday,3592,2018,2018-01-31 16:13:00
1,523765.6931,5446836.903,2,135,Theft from Vehicle,TfMV,Thursday,3597,2018,2018-01-31 17:34:59
2,525605.6210,5446679.171,3,218,Break and Enter,BE,Thursday,3598,2018,2018-01-31 18:18:00
3,524091.5098,5442589.113,4,849,Theft - General,TG,Thursday,3618,2018,2018-02-01 00:48:59
4,525417.5173,5446220.199,5,901,Theft - Vehicle,TV,Thursday,3621,2018,2018-02-01 01:01:00

In [23]:
pd.crosstab(df.Category, [df.Year, df.Week_Day])

Year                            2018                                          \
Week_Day                      Friday Monday Saturday Sunday Thursday Tuesday
Category
Arson                              7     11        7      8       12       6
Break and Enter                  113     94      110    123      105     102
Mischief                         114     91      126    115       95      88
Possession of Stolen Property      3      1        0      0        0       1
Theft - Bike                      10     17       11     14       12      20
Theft - General                  163    203      158    163      191     202
Theft - Mail                      33     10        8      6       24      20
Theft - Vehicle                   78     70       62     66       54      59
Theft from Vehicle               266    281      254    262      254     274

Year                                      2019                  ...     2020  \
Week_Day                      Wednesday Friday Monday Saturday  ... Thursday
Category                                                        ...
Arson                                 7      7      7       10  ...        3
Break and Enter                     104    103    125      101  ...       59
Mischief                            113    140    101      136  ...       77
Possession of Stolen Property         2      2      0        1  ...        1
Theft - Bike                         10     13     18       15  ...       12
Theft - General                     195    221    228      177  ...      124
Theft - Mail                          9     26     23        8  ...       37
Theft - Vehicle                      53     62     46       58  ...       26
Theft from Vehicle                  265    209    220      181  ...      141

Year                                              2021                         \
Week_Day                      Tuesday Wednesday Friday Monday Saturday Sunday
Category
Arson                               6         1      7      2        8      6
Break and Enter                    56        62     66     56       40     37
Mischief                           89        84     93     92      105    103
Possession of Stolen Property       1         0      0      0        0      0
Theft - Bike                       16         9      9      6        5      2
Theft - General                   113       118     64     89       67     57
Theft - Mail                       34        23     17     12        6      5
Theft - Vehicle                    36        31     33     30       27     24
Theft from Vehicle                157       147    119    133      103    108

Year
Week_Day                      Thursday Tuesday Wednesday
Category
Arson                                4       4         4
Break and Enter                     65      51        61
Mischief                            82      64        84
Possession of Stolen Property        0       0         0
Theft - Bike                        11      13        10
Theft - General                     83      80        77
Theft - Mail                        16      16         9
Theft - Vehicle                     24      21        26
Theft from Vehicle                 104     132       127

[9 rows x 28 columns]